In [1]:
# import dep
import os
import pandas as pd
import numpy as np

In [2]:
# Create file path
file_path = os.path.join("Resources", "vine_table.csv")

In [3]:
# load csv to df
df = pd.read_csv(file_path)

In [4]:
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R10024ZBRVM8XP,4.0,0.0,0.0,N,Y
1,R1008F69FEFUMJ,5.0,0.0,0.0,N,Y
2,R100A4V4HUWZ95,5.0,0.0,0.0,N,Y
3,R100BESVGNOOZU,1.0,0.0,0.0,N,Y
4,R100BFQ2FHQ63K,3.0,3.0,4.0,N,Y
...,...,...,...,...,...,...
9002016,RZZBCCUOHUO8A,4.0,0.0,0.0,N,Y
9002017,RZZCAZXBXTV71,5.0,0.0,0.0,N,Y
9002018,RZZHIXE6ZEFF,5.0,0.0,0.0,N,N
9002019,RZZKPRNYMZRZD,5.0,1.0,1.0,N,Y
9002020,RZZPY508J8D85,5.0,1.0,1.0,N,Y

In [5]:
# count all reviews
total_review_count = df['review_id'].count()

total_review_count

9002021

In [6]:
# filter for reviews with greater than 20 votes
df20 = df[df['total_votes'] > 20]

df20.reset_index(inplace=True)

df20

,index,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,190,R10A9A8T32ALIY,5.0,32.0,33.0,N,Y
1,229,R10F88Z49OG09R,5.0,151.0,160.0,N,N
2,537,R110I5XKJQZZIO,1.0,1.0,30.0,N,Y
3,667,R10WUVF0P1MX0K,5.0,23.0,27.0,N,Y
4,703,R113RAK87V3AML,1.0,33.0,38.0,N,Y
...,...,...,...,...,...,...,...
68159,9001502,RYF45LAYPOX2K,1.0,23.0,34.0,N,N
68160,9001610,RYSHHP4FVZHYM,5.0,96.0,99.0,N,Y
68161,9001652,RYXD85YJ9B9OB,5.0,94.0,102.0,N,Y
68162,9001682,RZ074280Z83DS,4.0,48.0,55.0,N,N
68163,9001704,RZ1TMSOAPSTVH,5.0,113.0,121.0,N,Y

In [7]:
# count of reviews with > 20 total votes
total20 = df20['review_id'].count()



total20

68164

In [8]:
# for loop to find % of helpful/total votes and add to df20
df20["percent"] = ""
for index in df20.index:
    index <= total20
    df20["percent"][index] = (df20["helpful_votes"][index] / df20["total_votes"][index])*100
print(f'complete at {index}')

C:\Users\Billy\AppData\Local\Temp\ipykernel_12628\4153416324.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20["percent"] = ""
C:\Users\Billy\AppData\Local\Temp\ipykernel_12628\4153416324.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20["percent"][index] = (df20["helpful_votes"][index] / df20["total_votes"][index])*100

complete at 68163

In [9]:
# filter for helpful percent >= 50
df50 = df20[df20["percent"] >= 50]

df50

,index,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent
0,190,R10A9A8T32ALIY,5.0,32.0,33.0,N,Y,96.969697
1,229,R10F88Z49OG09R,5.0,151.0,160.0,N,N,94.375
3,667,R10WUVF0P1MX0K,5.0,23.0,27.0,N,Y,85.185185
4,703,R113RAK87V3AML,1.0,33.0,38.0,N,Y,86.842105
5,783,R11BW6O1XCA6W5,3.0,22.0,25.0,N,Y,88.0
...,...,...,...,...,...,...,...,...
68159,9001502,RYF45LAYPOX2K,1.0,23.0,34.0,N,N,67.647059
68160,9001610,RYSHHP4FVZHYM,5.0,96.0,99.0,N,Y,96.969697
68161,9001652,RYXD85YJ9B9OB,5.0,94.0,102.0,N,Y,92.156863
68162,9001682,RZ074280Z83DS,4.0,48.0,55.0,N,N,87.272727
68163,9001704,RZ1TMSOAPSTVH,5.0,113.0,121.0,N,Y,93.38843

In [10]:
# create vine == y df
dfy = df50[df50["vine"] == "Y"]

dfy

,index,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent
23,3326,R15CNHFEBV35GK,5.0,149.0,166.0,Y,Y,89.759036
36,5643,R187S0YOCFNVIT,5.0,76.0,80.0,Y,N,95.0
125,16830,R1PW5D3I6DBP8V,5.0,25.0,28.0,Y,N,89.285714
172,23853,R20T9GECL50CG0,4.0,21.0,27.0,Y,N,77.777778
185,26395,R22R1U9HMSLBLM,3.0,54.0,57.0,Y,N,94.736842
...,...,...,...,...,...,...,...,...
67559,8916999,R33QA95VFJHMJ7,4.0,346.0,353.0,Y,N,98.016997
67570,8918664,R367ELMX20I6E6,5.0,92.0,94.0,Y,N,97.87234
67622,8924684,R3F86UHKDW6SGM,4.0,108.0,119.0,Y,N,90.756303
67685,8934724,R3UI6FBZX0YTMO,3.0,24.0,26.0,Y,N,92.307692
68025,8980424,R2YOLWBYI0DMEC,5.0,60.0,73.0,Y,N,82.191781

In [11]:
# count of vine sub reviews
total_count_of_vine = dfy['review_id'].count()

total_count_of_vine

585

In [12]:
# create vine == n df
dfn = df50[df50["vine"] == "N"]

dfn

,index,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent
0,190,R10A9A8T32ALIY,5.0,32.0,33.0,N,Y,96.969697
1,229,R10F88Z49OG09R,5.0,151.0,160.0,N,N,94.375
3,667,R10WUVF0P1MX0K,5.0,23.0,27.0,N,Y,85.185185
4,703,R113RAK87V3AML,1.0,33.0,38.0,N,Y,86.842105
5,783,R11BW6O1XCA6W5,3.0,22.0,25.0,N,Y,88.0
...,...,...,...,...,...,...,...,...
68159,9001502,RYF45LAYPOX2K,1.0,23.0,34.0,N,N,67.647059
68160,9001610,RYSHHP4FVZHYM,5.0,96.0,99.0,N,Y,96.969697
68161,9001652,RYXD85YJ9B9OB,5.0,94.0,102.0,N,Y,92.156863
68162,9001682,RZ074280Z83DS,4.0,48.0,55.0,N,N,87.272727
68163,9001704,RZ1TMSOAPSTVH,5.0,113.0,121.0,N,Y,93.38843

In [13]:
# count of vine sub reviews
total_count_of_nonvine = dfn['review_id'].count()

total_count_of_nonvine

61139

In [14]:
# count of total reviews with 20+ votes and 50% helpful
total_helpful_reviews = df50['review_id'].count()

total_helpful_reviews

61724

In [15]:
# count of 5 star reviews with 20+ votes and 50% helpful

total_five_star_reviews = df50[df50['star_rating'] == 5]['star_rating'].count()

total_five_star_reviews

29052

In [16]:
# count for all vine == y with 5 star
total_y_five_review = dfy[dfy['star_rating'] == 5]['star_rating'].count()

total_y_five_review

213

In [17]:
# calculate % of 5 star review that are vine subs
percent_y_review = round((total_y_five_review / (total_count_of_vine) * 100), 2)

percent_y_review

36.41

In [18]:
# count for all vine == 5 with 5 star

total_n_five_review = dfn[dfn['star_rating'] == 5]['star_rating'].count()

total_n_five_review

28839

In [19]:
# # calculate % of 5 star review that are not vine subs
percent_n_review = round((total_n_five_review / total_count_of_nonvine) * 100, 2)

percent_n_review

47.17

### Summary Dataframes

In [20]:
summary_df = pd.DataFrame({
    "total reviews": total_review_count,
    "total helpful reviews": total_helpful_reviews,
    "total vine subscribers": total_count_of_vine,
    "total non vine subscribers": total_count_of_nonvine}, index=[0])

summary_df

,total reviews,total helpful reviews,total vine subscribers,total non vine subscribers
0,9002021,61724,585,61139

In [21]:
summary_five_df = pd.DataFrame({
    "total 5 star reviews": total_five_star_reviews,
    "total 5 star vine subscribers reviews": total_y_five_review,
    "total 5 star non vine subscriber reviews": total_n_five_review,
}, index=[0])

summary_five_df

,total 5 star reviews,total 5 star vine subscribers reviews,total 5 star non vine subscriber reviews
0,29052,213,28839

In [22]:
percent_df = pd.DataFrame({
    "% 5 star vine subscriber reviews": percent_y_review,
    "% 5 star non vine subscriber reviews": percent_n_review
}, index=[0])

percent_df

   % 5 star vine subscriber reviews  % 5 star non vine subscriber reviews
0                             36.41                                 47.17